body {
  background: #bce397;
}

.headnav {
  position: fixed;
  width: 100%;
  top: 0px;
  background: #6fa8dc;
  padding-bottom: 5px;
  border-bottom: 0px solid #000000;
}

.heading {
  font-family: monospace;
  font-size: 25px;
  color: #f8f6f0;
  display: block;
  width: 100%;
  text-align: center;
  background: #9fc5e8;
  margin-top: -20px;
  margin-bottom: -20px;
}

.navibar {
  text-align: center;
  background: #9fc5e8;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000000;
  border-top: 2px solid #000000;
}

.navibar a {
  color: #bf0062;
  font-family: monospace;
  padding: 14px 20px;
  font-size: 20px;
  text-decoration: none;
  background: #f8f6f0;
  border: 1px solid #000000;
  border-radius: 25px;
}

.navibar a:hover {
  background: #bf0062;
  color: #f8f6f0;
}

.navibar2 {
  text-align: center;
  background: #9fc5e8;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
}

.navibar2 a {
  color: #bf0062;
  font-family: monospace;
  padding: 9px 50px;
  font-size: 10px;
  text-decoration: none;
  background: #f8f6f0;
  border: 1px solid #000000;
  border-radius: 15px;
}

.navibar2 a:hover {
  background: #bf0062;
  color: #f8f6f0;
}

.page {
  font-family: verdana;
  margin-top: 188px;
}

.title {
  color: #bf0062;
  background: #6fa8dc;
}

.title2 {
  color: #f8f6f0;
  background: #6fa8dc;
  margin-top: 0px;
}

.body {
  display: flex;
  align-items: center;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background: #caebb0;
}

.para {
  color: #bf0062;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 150px;
  background: #f8f6f0;
  border: 2px solid #000000;
  border-radius: 15px;
}

.image {
  max-width: 150px;
  margin-left: 50px;
  border-radius: 15px;
}

.image2 {
  max-width: 350px;
  margin-left: 50px;
  border-radius: 15px;
}
